
{{!-- <div class="container">
    <h1>Chat app</h1>

    <input type="text" placeholder="Enter your name" id="name">
    <input type="text" placeholder="Enter your message" id="message">

    <ul id="messages">

    </ul>

    <button id="sendBTN">Send</button>
</div> --}}

<!-- Register dialog -->
    <div class="modal fade" id="register-chat">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id='register' class='input-group-register'>
                    <input type='text'class='input-field' id="name_register" placeholder='Tên' required>
                    <button onclick="hideDialog()" id="subnmitRegister" type='submit'class='submit-btn'>Đăng ký</button>      
                </form>         
            </div>
        </div>
      </div>

<div class="enter" id="enter">
        <div class="row">
            <div class="col-lg-12 col-sm-12 box-user">
                <button onclick="hideEnter()" type='submit'class='submit-btn' data-toggle="modal" data-target="#register-chat">Vào chat</button>
            </div>
        </div>
</div>

<div class="hero" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12 box-user">
                <h1 class="header">Người chat</h1>
                {{!-- <div class="row" id="list-user">

                </div> --}}
                <ul id="list-user">
                    
                </ul>
            </div>
            <div class="col-lg-7 col-sm-12 box-chat">
                <ul id="messages"></ul>
                <div>
                    <form id="chat-form">
                        <input type="text" id="chat-mess" class="chat-input">
                        <i class="material-icons icons" style="font-size:20px">sentiment_very_satisfied</i>
                        <button type="submit" class="btn" id="chat-send"><i class="material-icons" style="font-size:20px">send</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()
    const chatForm = document.querySelector('#chat-form')
    const chatMess = document.querySelector('#chat-mess')
    const sendBTN = document.querySelector('#chat-send')
    const messages = document.querySelector('#messages')
    const chatMember = document.querySelector('#list-user')
    const formRegister = document.querySelector('#register')
    let name = ""
    
    formRegister.addEventListener('submit', e => {
        e.preventDefault()
        name = document.getElementById("name_register").value
        let li = document.createElement('li')
        li.innerHTML = `
            <img src="./images/vodien.png" alt="">
            <h3>${name}</h3>
        `
        chatMember.appendChild(li)
    })

    function hideEnter(){
        document.getElementById('enter').style.display = 'none';
        document.getElementById('hero').style.display = 'flex';
    }

    function hideDialog(){
        $("#register-chat").modal('hide');
    }

    if(socket !== undefined){
        console.log("Connecting .....")

        // handle output of chat app
        let t = 0
        socket.on('output', data => {
            console.log(data.length)
            if(data.length){
                for(let i =0; i < data.length; i++){
                    let li = document.createElement('li')
                    li.classList.add('two')
                    li.innerHTML = `
                        <img src="./images/vodien.png" alt="">
                        <h3>${data[i].name}: ${data[i].message}</h3>
                    `
                    messages.appendChild(li)
                    messages.insertBefore(li, messages.firstChild)
                }
            }
        })

        // handle input chat app
        chatForm.addEventListener('submit', (e) => {
            e.preventDefault()
            const message = chatMess.value

            socket.emit('input', {
                name, message
            })
            chatMess.value = ""
        })

        
        // handle new input
        socket.on('newchat', data => {
            let li = document.createElement('li')
            li.classList.add('two')
            li.innerHTML = `
                <img src="./images/vodien.png" alt="">
                <h3>${data.name}: ${data.message}</h3>
            `
            messages.appendChild(li)
            messages.insertBefore(li, messages.firstChild)
        })
    }
</script>
