*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#F18D9E, #98DBC6);
}
.container{
    width: 60rem;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
}
.list-friend{
    width: 40%;
    height: 100%;
    background: #514685;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}
.chat{
    width: 60%;
    height: 100%;
    display: flex;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
    flex-direction: column;
    background: #f6f2f2;
}
.information{
    margin-top: 20px;
    position: relative;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information .avatar{
    margin-left: 10px;
    
}
.info{
    position: absolute;
    right: 10%;
    color:#fff;
}
.info h2{
    font-weight: 100;
}
.info span{
    font-size: 15px;
    color: rgb(233,233,233);
}

.search-box{
    width: 90%;
    height: 1rem;
    display: flex;
    margin: 1rem;
    align-items: center;
}
.search-box input::placeholder{
    color:  rgb(199, 199, 199);
}
.search-box i{
    margin-right: 20px;
    color: white;
    font-size: 14px;
    }
.search-box input{
    font-size: 16px;
    width: 70%;
    background: none;
    outline: none;
    border: none;
    color: rgb(233,233,233);
}
.ms-a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
}
.ms-a .avatar{
    margin-left: 5px;
    margin-right: 10px;
}
.mesg-info{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.ms-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sender-name{
    color: white;
    letter-spacing: 1px;

}
.time{
    color: #a5a5a5;
    font-size: 14px;
    margin-right: 20px;
}
.time span{
    color: black;
    border-radius: 100%;
    margin: 10px;
}
.action span{
    font-size: 12px;
    color:#a5a5a5;
}
.ms-active{
    padding: 0px 5px;
    background: #f8f403;
    border-radius: 100%;
    font-size: 10px;
}
.new-chate{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34debb;
    position: absolute;
    border-radius: 100%;
    bottom: 8px;
    right: 12px;
    cursor: pointer;
    box-shadow: 2px 1px 29px -8px rgba(52,222,187,1);
    
}
.new-chate2{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34debb;
    position: absolute;
    border-radius: 100%;
    bottom: 8px;
    right: 80px;
    cursor: pointer;
    box-shadow: 2px 1px 29px -8px rgba(52,222,187,1);
    
}
.new-chate3{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34debb;
    position: absolute;
    border-radius: 100%;
    bottom: 8px;
    right: 150px;
    cursor: pointer;
    box-shadow: 2px 1px 29px -8px rgba(52,222,187,1);
    
}
.new-chate span{
    font-size: 2rem;
    color: white;
}
.chat-active{
    background:#332869 ;
}
.last-chate{
    opacity: .5;
}
.icon i{
    color: #ececec;
    font-size: 15px;
    cursor: pointer;
}
.chat-header{
    width: 100%;
    height: 10vh;
    background: #34debb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
}
.header-content{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sender-action{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sender-action h3{
    font-weight: 100;
    color: white;
    letter-spacing: 1px;
}
.sender-action span{
    font-size: 15px;
    color: #ececec;
}
.icon-header i{
    margin-right: 1px;
    color: #ececec;
    font-size: 15px;
    margin-left: 15px;
    cursor: pointer;
}








.chat .message-box{
    width: 100%;
    display: flex;
    margin-left: 20px;
    
}
.message-box-aria{
    width: 37%;
    background: #fff;
    position: absolute;
    top: 83%;
    border-radius: 30px;
    box-shadow: 0px 7px 23px -8px rgba(204,202,204,1);
}
.message-box-aria input{
    width: 85%;
    height: 4rem;
    border: none;
    outline: none;
    background: none;
    margin-left: 20px;
}
.message-box-aria input::placeholder{
    color: gray;
}
.message-box-aria i{
    color: black;
    cursor: pointer;
}


